on:
  push:
    paths-ignore:
      - '**/**.md'
      - 'documentation/**'

env:
  MAJOR: 0
  MINOR: 9
  PATCH: 0
  GIN_MODE: release
  MAIN_PACKAGE: 'cmd/document-design-gateway/main.go'

concurrency: ci-${{ github.ref }}

name: restaurant-document-design-gateway-ci

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.25.0'

      - name: "Installed go version"
        run: go version

      - name: Compute semantic version
        id: semantic_version
        uses: KinNeko-De/compute-semantic-version-action@v1
        with:
          major: ${{ env.MAJOR }}
          minor: ${{ env.MINOR }}
          patch: ${{ env.PATCH }}

      - name: Prepare git tags
        id: prepare_tag
        run: |
          echo "git_tag=v${{ steps.semantic_version.outputs.semantic_version }}" >> $GITHUB_OUTPUT
          echo "git_tag_major=v${{ env.MAJOR }}" >> $GITHUB_OUTPUT

      - name: 'Version upgraded?'
        id: version_check
        run: |
          current_version="v${{ steps.semantic_version.outputs.next_default_branch_version }}"
          last_main_version=$(git tag --list | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | sort -V | tail -n 1)
          if [[ -z "$last_main_version" ]]; then
            echo "No previous version found, proceeding..."
          else
            echo "Compare last main version: $last_main_version with current version: $current_version"
            if [[ $(echo -e "$current_version\n$last_main_version" | sort -V | head -n 1) == "$current_version" ]]; then
              echo "Please upgrade the version number to a higher value than $last_main_version"
              exit 1
            fi
          fi

      - name: Write version txt
        id: version_txt
        run: |
          tee build/version.txt <<< ${{ steps.semantic_version.outputs.semantic_version }}

      - name: "Build"
        run: |
          go build -o bin/app ./${{ env.MAIN_PACKAGE }}

      - name: "Test"
        run: |
          go test ./... -race -coverpkg=all -coverprofile=coverage.out -timeout 5m

      - name: "Exclude codecoverage"
        run: |
          grep -v -E -f .covignore coverage.out > coverage.filtered.out
          mv coverage.filtered.out coverage.out

      - name: "Code coverage"
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

      - name: "Build artifacts"
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./build/dockerfile
          push: false
          tags: ${{ steps.semantic_version.outputs.semantic_version }} # on push later

      - name:
          'Create semantic versioning git tag ${{steps.prepare_tag.outputs.git_tag }}'
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{steps.prepare_tag.outputs.git_tag }}",
              sha: context.sha
            })
